/* -------------- Team Style -----------*/
.team-style-one {
  overflow: hidden;
  padding-bottom: 30px;
  margin: 0;
  position: relative;
  z-index: 1;
  padding-left: 50px;
}

.team-style-one .team-info {
  display: flex;
  align-items: center;
  position: absolute;
  background: #fff;
  bottom: 0px;
  right: 60px;
  left: 0;
  padding-right: 30px;
  box-sizing: border-box;
  z-index: 1;
}


.team-style-one .team-social {
  overflow: hidden;
}

.team-social .share-link ul {
  position: absolute;
  left: 0;
  bottom: 100%;
  background: #fff;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  transform: translateY(90%);
  opacity: 0;
  visibility: hidden;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.team-style-one .content {
  padding-left: 30px;
}

.team-social .share-link>i,
.team-social>a {
  display: inline-block;
  background: linear-gradient(90deg, #37b984 20%, #9ccb26 100%);
  color: #fff;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-top: 1px solid;
  position: relative;
  z-index: 1;
}

.team-social .share-link li {
  display: block;
}

.team-social .share-link li a {
  display: inline-block;
  text-align: center;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-top: 2px solid #ebf4ff;
  color: #04000b;
}

.team-social .share-link li:first-child a {
  border-top: none;
}

.team-style-one:hover .team-social .share-link ul {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.team-style-one h4 a {
  margin-bottom: 5px;
  font-weight: 700;
  color: #084838;
  font-size: 20px;
}

.site-heading {
  margin-bottom: 60px;
}

/* -------------- About Style -----------*/
.about-thumb {
  padding-right: 15%;
  position: relative;
  z-index: 1;
}

.about-thumb::before {
  position: absolute;
  right: 35px;
  height: 45%;
  content: "";
  width: 20px;
  background: #084838;
  bottom: 0;
}

.about-thumb .experience {
  position: absolute;
  right: 0;
  top: 60px;
  padding: 50px;
  z-index: 1;
}

.about-thumb::after {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 31%;
  width: 20px;
  background: linear-gradient(53deg, #9ccb26, #37b984);
  content: "";
}

.about-thumb .experience h2 {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  margin: 0;
}

.about-thumb .experience::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: #084838;
  z-index: -1;
  border-radius: 10px;
}

.about-thumb .experience h2 strong {
  font-size: 100px;
  display: block;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  margin-bottom: 10px;
}

.about-thumb img {
  border-radius: 10px;
}

.about-grid-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
}

.about-grid-info a.btn-round-animation {
  display: inline-block;
  height: 180px;
  width: 180px;
  text-align: center;
  line-height: 180px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: all 0.35s ease-in-out;
  color: #04000b;
}

.about-grid-info a.btn-round-animation::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  height: 0;
  width: 100%;
  background: linear-gradient(90deg, #37b984 20%, #9ccb26 100%);
  z-index: -1;
  transition: all 0.40s ease-in-out;
  border-radius: 50%;
}

.about-grid-info a.btn-round-animation::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 0;
  width: 100%;
  background: #37b984;
  z-index: -1;
  transition: all 0.30s ease-in-out;
  border-radius: 50%;
}

.about-grid-info a.btn-round-animation i {
  display: inline-block;
  transform: rotate(-45deg);
}

.about-grid-info a.btn-round-animation:hover {
  color: #fff;
}

.about-grid-info a.btn-round-animation:hover::before {
  height: 100%;
}

.about-grid-info a.btn-round-animation:hover::after {
  opacity: 0.4;
  height: 100%;
}

.pl-50 {
  padding-left: 50px;
}

.about-grid-info .about-grid-info ul.list-info-item a {
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: space-between;
}

.about-grid-info ul.list-info-item li {
  border-top: 1px solid #e7e7e7;
}

.about-grid-info ul.list-info-item li:first-child {
  border: none;
}

.about-grid-info ul.list-info-item a i {
  font-size: 14px;
}

.about-grid-info ul.list-info-item li h4 {
  margin-bottom: 0;
}

.about-grid-info ul.list-info-item li h4 a {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
  color: #084838;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 10px 0px;
}

.about-info {
  margin-top: 60px;
  padding-left: 50px;
}

/* -------------- Journey Style -----------*/
.journey-area {
  background: #F3F8F4;
  padding: 60px 0px;
}

.journey-item {
  padding: 40px 35px 35px;
  border-radius: 14px;
  background: #fff;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  height: 95%;
}

.journey-item-number {
  border-radius: 30px;
  background: #F3F8F4;
  box-shadow: 0px 2px 4px 0px rgba(27, 42, 82, 0.2);
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
  color: #1B2A52;
  font-size: 14px;
  font-weight: 700;
}

.journey-item-icon {
  margin-bottom: 30px;
}

.journey-item-icon img {
  width: 60px;
  height: 60px;
}

.journey-item-title a {
  color: #084838;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.6px;
  margin-bottom: 8px;
}

.journey-item-title:hover a {
  color: #084838 !important;
}

.journey-item p {
  color: #7F879E;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 38px;
}

.journey-navigation {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.journey-navigation div {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  font-size: 14px;
  color: #1B2A52;
  border-radius: 8px;
  border: 1px solid rgba(27, 42, 82, 0.07);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  font-weight: 500;
  background-color: #fff;
}

.journey-navigation div:hover {
  border-color: transparent;
  color: #fff;
  background: #084838;
  box-shadow: 0px 2px 10px 0px rgba(27, 42, 82, 0.5);
}

@media (max-width: 575px) {
  .journey-navigation {
    justify-content: flex-start;
  }
}


.feature-style-one {
  padding: 60px 40px;
  background: linear-gradient(0deg, #F3F8F4 40%, #FBFBFD00 60%);
  border-radius: 10px;
  border: 2px solid #e9e9e9;
}

.feature-style-one img {
  height: 150px;
  margin-top: 50px;
}

.feature-style-one .icon {
  text-align: right;
}

.feature-style-one h4 {
  font-size: 24px;
  font-weight: 600;
  color: #084838;
}

.feature-style-one p {
  margin: 0;
  font-size: 16px;
  color: #7F879E;
}

/* ============================================================== 
    # Capability
=================================================================== */
.capability-wapper .info {
  padding: 80px;
  margin-top: 80px;
  position: relative;
  z-index: 1;
  background: #084838;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.capability-wapper img {
  max-width: 120%;
  border-radius: 10px;
}

.capability-wapper .info h2 {
  font-weight: 700;
  margin-bottom: 25px;
}

.swiper-pagination {
  position: absolute !important;
  right: 0 !important;
  left: auto !important;
  top: 20px !important;
  width: 200px !important;
  z-index: 99 !important;
  height: 40px !important;
  text-align: right !important;
}

.swiper-pagination {
  text-align: right !important;
}

.swiper-pagination span.swiper-pagination-bullet {
  height: 20px !important;
  width: 20px !important;
  border: 1px solid #37b984 !important;
  background: transparent !important;
  position: relative !important;
  z-index: 1 !important;
}

.swiper-pagination span.swiper-pagination-bullet::after {
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  content: "";
  height: 5px !important;
  width: 5px !important;
  background: #37b984 !important;
  transform: translate(-50%, -50%) !important;
  border-radius: 50% !important;
}

.capability-area {
  background-size: 36%;
  background-repeat: no-repeat;
  background-position: right top;
}

.capability-area .content-left {
  margin-bottom: 60px;
}