.contact-item {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 6px 70px 0px rgba(27, 42, 82, 0.06);
  padding: 40px 30px 35px;
  height: 100%;
  text-align: center;
}

.contact-icon {
  width: 70px;
  height: 70px;
  background: #F2F8FD;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 30px;
  color: var(--clr-theme-primary);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.contact-icon i {
  color: #084838;
}

.contact-content-title {
  color: #1B2A52;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.72px;
  margin-bottom: 13px;
}

.contact-top {
  margin-bottom: 80px;
}

.contact-content p {
  color: #7F879E;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 0;
}

.contact-content a {
  color: #7F879E;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  display: block;
}

.contact-content a:not(:last-child) {
  margin-bottom: 2px;
}

.contact-form {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 6px 70px 0px rgba(27, 42, 82, 0.06);
  padding: 44px 40px 50px;
}

@media (max-width: 575px) {
  .contact-form {
    padding: 44px 30px 50px;
  }
}

.contact-form-title {
  color: #084838;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.06;
  letter-spacing: 0.5px;
  margin-bottom: 35px;
}

@media (max-width: 480px) {
  .contact-form-title {
    font-size: 26px;
  }
}

.contact-form-item {
  position: relative;
  z-index: auto;
}

.contact-form-item i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  color: #7F879E;
  font-size: 16px;
}

.contact-form-item input,
.contact-form-item textarea {
  width: 100%;
  border: 1px solid rgba(27, 42, 82, 0.07);
  border-radius: 8px;
  height: 46px;
  line-height: 46px;
  padding: 0 20px;
  padding-right: 50px;
  color: #7F879E;
  font-size: 14px;
  outline: none;
}

.contact-form-item textarea {
  height: 155px;
  padding-right: 20px;
}

.contact-form-item button {
  width: 100%;
  border: none;
  border-radius: 8px;
  background: #084838;
  box-shadow: 0px 2px 10px 0px rgba(27, 42, 82, 0.5);
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.contact-bottom-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

@media (max-width: 1199px) {
  .contact-bottom-left {
    margin-right: 0;
  }
}

.contact-map {
  height: 100%;
  width: 100%;
}

.contact-map iframe {
  min-height: 150px;
  width: 100%;
  height: 100%;
  border-radius: 14px;
}

.subject-option.nice-select {
  background: transparent;
  z-index: 99;
  color: #7F879E;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  border: 1px solid rgba(27, 42, 82, 0.07);
  border-radius: 8px;
  height: 46px;
  line-height: 46px;
  padding: 0 20px;
  padding-right: 50px;
}

.subject-option.nice-select ul {
  background-color: #fff;
  width: 100%;
  z-index: 99;
  border-radius: 8px;
  border: none;
  margin-top: 5px;
  box-shadow: 0px 6px 50px 0px rgba(27, 42, 82, 0.2);
}

.subject-option.nice-select ul li {
  color: #7F879E;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  padding: 0 20px;
  height: 46px;
  line-height: 46px;
}

.subject-option.nice-select .option.selected {
  font-weight: 500;
}

.subject-option.nice-select::after {
  display: none;
}

.subject-option.nice-select::before {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Font Awesome 6 Pro";
  content: "\f107";
  margin-top: 1px;
}

.subject-option.nice-select.open::before {
  content: "\f106";
}