@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

.navbar-brand img {
  max-width: 200px;
}

.custom-navbar .nav-item {
  margin-right: 16px;
}

.custom-navbar {
  min-height: 0 !important;
  width: 100%;
  position: absolute;
  /* Ensure it's positioned above the video */
  z-index: 3;
  /* Higher z-index to appear above the video */
}

.custom-navbar .nav-link {
  font-size: 16;
  font-weight: 600;
  color: #fff;
}

.navbar-nav .nav-link.active {
  color: #FFE788 !important;
}

.hero {
  height: 100vh;
  position: relative;
}

.hero-banner video {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
}

.home-content {
  position: relative;
  top: 14rem;
  color: #fff;
  z-index: 3;
}

.gradient-sub-border-wrap {
  background: linear-gradient(20deg, rgb(129 208 1) 17.87%, rgba(255, 255, 255, 0.5) 45.75%, rgb(255 231 136) 80.38%);
  padding: 1px;
  margin-bottom: 16px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.gradient-sub {
  background: #084838;
  margin-bottom: 0;
  padding: 5px 24px;
  position: relative;
  z-index: 1;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.9px;
  border-radius: 50px;
  display: inline-block;
  text-transform: uppercase;
}

.home-content h1 {
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.32);
  font-size: clamp(34px, 4vw, 60px);
  font-weight: 500;
  line-height: 126.667%;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-family: "Inter", serif !important;
}

.home-content p {
  font-size: 18px;
  line-height: 1.7;
  margin-top: 24px !important;
  margin: 0 auto;
  max-width: 728px;
  font-family: "Inter", serif !important;
}

.text-green {
  color: #084838 !important;
}

.default-btn {
  background-color: #084838;
  border-radius: 8px;
  transform: none;
  transform-origin: 50% 50% 0px;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 0.32px;
  padding: 13px 22px;
  border-radius: 32px;
}

.default-btn.style-two {
  background-color: transparent;
  background: transparent;
  border: 1px solid #fff;
}

.default-btn svg {
  font-size: 26px;
  margin-left: 8px;
}

.about-bg {
  padding: 120px 80px;
  margin-right: -23%;
  z-index: 1;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
  background-color: #084838;
}

ul.check-list-item li .icon {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  background: linear-gradient(90deg, #FFE788 20%, #084838 100%);
  border-radius: 50%;
}



.story-wapper {
  padding: 120px 80px;
  margin-right: -23%;
  z-index: 1;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
  background-color: #084838;
}

.icon-wapper {
  height: 50px;
  min-width: 50px;
  text-align: center;
  line-height: 50px;
  background: linear-gradient(180deg, #B8E2FA 0%, #FFE788 100%);
  border-radius: 50%;
}

.icon-wapper i {
  color: #084838;
  font-size: 17px;
}

.check-list-item li {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid;

}

.our-story .video-wapper {
  min-height: 500px;
  position: relative;
}

.video-live {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.our-story .video-play-button {
  position: absolute;
  right: 35px;
  bottom: 35px;
  color: #084838
}

.story-title h3 {
  font-weight: 600;
  font-size: 42px;
  line-height: 1.3;
  padding-left: 120px;
  margin-bottom: 55px;
  color: #084838;
}

.story-title span::after {
  position: absolute;
  left: -5%;
  bottom: 0;
  content: "";
  height: 100%;
  width: 110%;
  background: url(/8.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: -1;
}

.story-title span {
  position: relative;
  z-index: 1;
}



/* ============================================================== 
  # Video Play Button 
=================================================================== */
.video-play-button {
  display: inline-block;
  background: #FFE788;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  position: relative;
}

.video-play-button i {
  font-size: 20px;
  position: relative;
  left: 3px;
  top: 2px;
}

.video-play-button .effect {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #FFE788;
  opacity: 0;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  z-index: -1;
  -webkit-animation: video-play 1500ms ease-out infinite;
  animation: video-play 1500ms ease-out infinite;
}

.video-play-button .effect::after {
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  background: #FFE788;
  opacity: 0;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  z-index: -1;
  -webkit-animation: video-play 1500ms ease-out infinite;
  animation: video-play 1500ms ease-out infinite;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.video-play-button .effect::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background: #FFE788;
  opacity: 0;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  z-index: -1;
  -webkit-animation: video-play 1500ms ease-out infinite;
  animation: video-play 1500ms ease-out infinite;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.video-play-button.with-text {
  width: auto;
  background: transparent;
}

.video-play-button.with-text span {
  position: relative;
  z-index: 1;
  font-weight: 600;
}

.video-play-button.with-text span i {
  margin-left: 25px;
  margin-right: 30px;
  color: #084838;
  left: -1px;
}

.video-play-button.with-text .effect {
  height: 60px;
  width: 60px;
  left: 0;
  -webkit-animation: inherit;
  animation: inherit;
  background: #FFE788;
  top: 0;
  opacity: 1;
  z-index: 1;
}

.video-play-button.with-text .effect::before {
  display: none;
}

.video-play-button.with-text .effect::after {
  background: #FFE788;
  height: 100%;
  width: 100%;
  z-index: inherit;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}


/* Video Paly */
@-webkit-keyframes video-play {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes video-play {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

body {
  font-family: "Manrope", serif !important;
}

a {
  text-decoration: none !important;
}

.section-gap {
  padding: 70px 0px;
}

.achivement-counter {
  display: block;
  padding: 90px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(53deg, #9ccb26, #37b984);
}

.achivement-counter li {
  display: flex;
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding-top: 30px;
  line-height: 1.7;
}

.achivement-counter li .icon {
  display: block;
  margin-right: 30px;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  background: linear-gradient(108.44deg, rgba(255, 255, 255, 0.1) 20.99%, rgba(255, 255, 255, 0.025) 84.05%);
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.14);
  box-shadow: 0px 10px 51px rgba(0, 0, 0, 0.5);
}

.achivement-counter li .icon img {
  max-width: 55px;
  filter: brightness(0) invert(1);
}

.achivement-counter .fun-fact .counter {
  color: #fff;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 10px;
}

.fun-fact .counter {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 5px;
}

.achivement-counter .fun-fact .medium {
  color: #fff;
  font-weight: 800;
}

.achivement-counter li:first-child {
  margin: 0;
  padding: 0;
  border: none;
}

.sub-title {
  text-transform: uppercase;
  color: #084838;
  font-weight: 800;
  background-image: linear-gradient(53deg, #084838, #37b984);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.title {
  color: #084838;
  font-weight: 800;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 0;
  margin: 0;
  margin-bottom: 15px;
}

.desc {
  color: #666666;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 500;
  line-height: 1.7;
}

.list-check {
  margin-top: 30px;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.list-check li:first-child {
  margin-top: 0;
}

.list-check li {
  color: #04000b;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  padding-left: 0px;
  margin-top: 10px;
}

.list-check li span {
  display: inline-block;
  height: 20px;
  width: 20px;
  line-height: 18px;
  border: 1px solid;
  text-align: center;
  border-radius: 5px;
  margin-right: 12px;
}

.list-check li span i {
  font-size: 14px;
}

.section-gap {
  padding: 60px 0px;
}

.section-bg {
  background-image: url("/img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.service-caption .sub-title {
  background: transparent;
  display: inline-block;
  position: relative;
  z-index: 1;
  background-clip: inherit;
  -webkit-text-fill-color: inherit;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  font-size: 18px;
}


.service-caption .title {
  color: #fff;
  font-weight: 800;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 0;
  margin: 0;
  margin-bottom: 15px;
}


.service-caption a {
  display: inline-block;
  background: #219653;
  color: #fff;
  padding: 13px 50px;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  font-weight: 700;
}

.service-caption {
  background-image: linear-gradient(53deg, #9ccb26, #37b984);
  padding: 62px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  background-position: left top !important;
  background-size: cover;
  height: 355px;
}

.service-btn {
  position: relative;
  z-index: 1;
  margin-top: 35px;
}

.service-btn::after {
  position: absolute;
  right: 0;
  top: 50%;
  content: "";
  height: 1px;
  left: 180px;
  background: rgba(255, 255, 255, 0.4);
}

.service-caption::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("/img/15.png");
  background-repeat: no-repeat;
  background-position: top left;
  z-index: -1;
  opacity: 0.8;
  background-size: contain;
}

.service-box {
  padding: 60px 40px;
  border-radius: 10px;
  background: #fff;
  position: relative;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.1);
  min-height: 367px;
  margin-bottom: 30px;
}

.service-box .icon img {
  height: 70px;
  margin-bottom: 30px;
  transition: all 0.35s ease-in-out;
}

.service-box p {
  transition: all 0.35s ease-in-out;
  color: #666666;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 500;
  line-height: 1.7;
}

.service-box h4 {
  margin: 0;
  margin-top: 28px;
  transition: all 0.35s ease-in-out;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0;
}

.service-box h4 a {
  transition: all 0.35s ease-in-out;
  outline: medium none;
  text-decoration: none;
  color: #04000b;
  font-weight: 800;
}

.service-box span {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  display: block;
  margin-top: 7px;
  transition: all 0.35s ease-in-out;
  color: #666666;
}

.service-box a.icon-btn {
  display: inline-block;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  background: linear-gradient(53deg, #084838, #37b984);
  color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
}

.service-box:hover a.icon-btn {
  bottom: 35px;
  opacity: 1;
  visibility: visible;
}

.service-box:hover span {
  transform: translateY(-30px);
}

.service-box .shape {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.service-box .shape img {
  margin: 0;
  height: 150px;
  border-bottom-right-radius: 10px;
}

.service-box:hover h4 {
  transform: translateY(-30px);
}

.service-box:hover p {
  transform: translateY(-25px);
}

.service-box:hover .icon img {
  height: 60px;
  transform: translateY(-20px);
}

.our-services,
.our-team {
  background: #F3F8F4;
}

.faq-content .accordion-button:not(.collapsed) {
  background-color: #fff;
}

.faq-content .accordion-button {
  position: relative;
  cursor: pointer;
  box-shadow: none;
  border: none;
  background: #F3F8F4;
  border-radius: 0 !important;
  border: 0;
  color: #04000b;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.6px;
  padding: 29px 30px;
  line-height: 1;
}

.faq-content .accordion-body {
  padding: 0 70px 29px 30px;
  background: #fff;
}

.faq-content .accordion-item {
  overflow: hidden;
  border: none;
  border-radius: 10px;
  background-color: #FFF;
  box-shadow: 0px 5px 20px rgba(27, 42, 82, 0.05);
  margin-bottom: 30px;
}

.faq-content .accordion-button::after {
  background-size: 1rem;
}


.faq-caption img {
  padding-right: 5rem;
  margin-top: 1rem;
}

.faq-content .accordion-body p {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0;
}

.h4_testimonial-item {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(27, 42, 82, 0.2);
  margin: 18px 10px;
}

.h4_testimonial-rating {
  list-style: none;
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.h4_testimonial-item-top {
  padding: 40px 25px 38px;
  position: relative;
  z-index: 1;
}

.h4_testimonial-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #F6F6F6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h4_testimonial-item-top p {
  color: #7F879E;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 0;
}

.h4_testimonial-rating li {
  font-size: 14px;
  color: #F59E0B;
  line-height: 22px;
}

.h4_testimonial-head {
  display: flex;
  gap: 10px;
  align-items: center;
  border-top: 1px solid rgba(27, 42, 82, 0.07);
  padding: 20px 25px;
}

.h4_testimonial-head-img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}

.h4_testimonial-head-info h6 {
  color: #1B2A52;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0;
  font-family: "Inter", sans-serif;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  cursor: pointer;
}

.h4_testimonial-head-info span {
  color: #6A738B;
  font-size: 14px;
  font-weight: 400;
  display: block;
  line-height: 22px;
}

.h4_testimonial-icon svg {
  color: rgba(27, 42, 82, 0.5);
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #37b984 !important;
  outline: 1px solid #37b984 !important;
  outline-offset: 6px !important;
  margin: 0 12px !important;
}

.owl-theme .owl-dots .owl-dot span {
  margin: 0px 5px !important;
  border-radius: 50% !important;
  outline: 1px solid transparent !important;
  background-color: rgba(27, 42, 82, 0.14) !important;
  width: 8px !important;
  height: 8px !important;
  cursor: pointer !important;
  opacity: 1 !important;
}

.brand-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}


.brand-item {
  border-radius: 60px;
  background: #FFF;
  box-shadow: 0px 3px 14px 0px rgba(126, 147, 205, 0.1);
  height: 100px;
  width: 230px;
  display: grid;
  place-items: center;
  padding: 0 15px;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  cursor: pointer;
}

.brand-item:hover {
  box-shadow: 0px 8px 60px 0px rgba(44, 58, 95, 0.16);
}

.team-style-one {
  overflow: hidden;
  padding-bottom: 30px;
  margin: 0;
  position: relative;
  z-index: 1;
  padding-left: 50px;
}

.team-style-one .team-info {
  display: flex;
  align-items: center;
  position: absolute;
  background: #fff;
  bottom: 0px;
  right: 60px;
  left: 0;
  padding-right: 30px;
  box-sizing: border-box;
  z-index: 1;
}


.team-style-one .team-social {
  overflow: hidden;
}

.team-social .share-link ul {
  position: absolute;
  left: 0;
  bottom: 100%;
  background: #fff;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  transform: translateY(90%);
  opacity: 0;
  visibility: hidden;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.team-style-one .content {
  padding-left: 30px;
}

.team-social .share-link>i,
.team-social>a {
  display: inline-block;
  background: linear-gradient(90deg, #37b984 20%, #9ccb26 100%);
  color: #fff;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-top: 1px solid;
  position: relative;
  z-index: 1;
}

.team-social .share-link li {
  display: block;
}

.team-social .share-link li a {
  display: inline-block;
  text-align: center;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-top: 2px solid #ebf4ff;
  color: #04000b;
}

.team-social .share-link li:first-child a {
  border-top: none;
}

.team-style-one:hover .team-social .share-link ul {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.team-style-one h4 a {
  margin-bottom: 5px;
  font-weight: 700;
  color: #04000b;
}

.site-heading {
  margin-bottom: 60px;
}

.about-two-thumb {
  padding-right: 15%;
  position: relative;
  z-index: 1;
}

.about-two-thumb::before {
  position: absolute;
  right: 35px;
  height: 45%;
  content: "";
  width: 20px;
  background: #37b984;
  bottom: 0;
}

.about-two-thumb .experience {
  position: absolute;
  right: 0;
  top: 60px;
  padding: 50px;
  z-index: 1;
}

.about-two-thumb::after {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 31%;
  width: 20px;
  background: #37b984;
  content: "";
  opacity: 0.3;
}

.about-two-thumb .experience h2 {
  color: #fff;
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 0;
}

.about-two-thumb .experience::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: #0c503e;
  z-index: -1;
}

.about-two-thumb .experience h2 strong {
  font-size: 100px;
  display: block;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  margin-bottom: 10px;
}


.about-grid-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}

a.btn-round-animation {
  display: inline-block;
  height: 180px;
  width: 180px;
  text-align: center;
  line-height: 180px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: all 0.35s ease-in-out;
  color: #04000b;
}

a.btn-round-animation::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  height: 0;
  width: 100%;
  background: linear-gradient(90deg, #37b984 20%, #9ccb26 100%);
  z-index: -1;
  transition: all 0.40s ease-in-out;
  border-radius: 50%;
}

a.btn-round-animation::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 0;
  width: 100%;
  background: #37b984;
  z-index: -1;
  transition: all 0.30s ease-in-out;
  border-radius: 50%;
}

a.btn-round-animation i {
  display: inline-block;
  transform: rotate(-45deg);
}

a.btn-round-animation:hover {
  color: #fff;
}

a.btn-round-animation:hover::before {
  height: 100%;
}

a.btn-round-animation:hover::after {
  opacity: 0.4;
  height: 100%;
}

.pl-50 {
  padding-left: 50px;
}

ul.list-info-item a {
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: space-between;
}

ul.list-info-item li {
  border-top: 1px solid #e7e7e7;
}

ul.list-info-item li:first-child {
  border: none;
}

ul.list-info-item a i {
  float: right;
  display: block;
  font-size: 14px;
}

ul.list-info-item li h4 a {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 800;
  color: #04000b;
}

.about-two-info {
  margin-top: 60px;
  padding-left: 50px;
}

footer {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.footer-custom {
  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: url(/img/footer-bg.png);
  background-size: contain;
}

.footer-top {
  padding-top: 70px;
  padding-bottom: 100px;
  position: relative;
}

.footer-item {
  position: relative;
  z-index: 1;
  margin-top: 50px;
}

.footer-animated-shape {
  position: absolute;
  left: -35%;
  bottom: -50px;
  animation: UpDown 8s linear infinite;
}

.footer-animated-shape img {
  width: 100px;
}

.footer-about .logo {
  height: 100px;
  margin-bottom: 30px;
}

.footer-social li {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 26px;
}

.footer-social li a {
  display: inline-block;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 47px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: #fff;
}

.footer-about {
  position: relative;
  padding-right: 50px;
}

.footer-about p {
  color: #fff;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 500;
}

.footer-about::after {
  position: absolute;
  right: 0;
  top: -50%;
  content: "";
  height: 300%;
  width: 500%;
  background: linear-gradient(53deg, #9ccb26, #37b984);
  z-index: -1;
}

/* Infinite Up Down Animation */
@keyframes UpDown {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px 0;
  position: relative;
  z-index: 1;
}

.bg-dark.footer-bottom a {
  color: #d2d2d4;
  font-weight: 500;
  text-decoration: none;
}

footer .widget-title {
  font-weight: 800;
  margin-bottom: 30px;
}

.widget_nav_menu .menu-item {
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 26px;
  margin-top: 10px;
}

.widget_nav_menu .menu-item a {
  display: inline-block;
  color: #d2d2d4;
  font-weight: 500;
  text-decoration: none;
}

.footer-item li strong {
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}

.footer-item .contact li {
  color: #dedede;
  display: flex;
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 26px;
}

.footer-item .contact li a {
  color: #dedede;
  font-weight: 500;
  text-decoration: none;
}

.newsletter form {
  background: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  margin-top: 20px;
  border: 2px solid;
}

.newsletter form input {
  box-shadow: inherit;
  border: none;
  min-height: 60px;
  padding-left: 25px;
}

.newsletter form button {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 50px;
  width: 50px;
  padding: 0 !important;
  border-radius: 50%;
  border: none;
  overflow: inherit;
  background: linear-gradient(53deg, #084838, #37b984);
}