.custom-layout {
  text-align: center;
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.025) 0px 0.362176px 0.651917px -1px inset, rgba(255, 255, 255, 0.036) 0px 3px 5.4px -2px inset;
  background-color: #fff;
}

.image {
  margin-bottom: 30px;
}

.image img {
  border: 2px dashed #448C74;
  padding: 10px;
  border-radius: 50%;
  max-width: 90%;
}

.about-content .title {
  font-size: 32px;
  margin-bottom: 0px;
}

.about-content .desc {
  font-size: 18px;
  margin-bottom: 0;
}

.about-social ul li a {
  font-size: 20px;
  border: 1px solid #eee;
  padding: 10px 12px;
  border-radius: 10px;
  color: #084838;
}

.about-social ul {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 0;
}

.about-details .desc {
  font-size: 18px;
  margin-bottom: 17px;
}